body {
  margin:0;
  background: black;
  height:100vh;
  overflow: hidden;
  width: 100%;
}

#opacity-moment {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #66d5ff, #429cff);
  transition: 1.75s all ease-in-out
}

#jane {
  bottom: -45vh;
  left: 10vw;
  transition: 1.75s all ease-in-out
}

#fred {
  bottom: -45vh;
  left: 10vw;
  transition: 1.75s all ease-in-out;
}

#robert {
  bottom: -45vh;
  left: 10vw;
  transition: 1.75s all ease-in-out;
}

#jane-scene, #robert-scene {
  transform: translateY(100%);
}

#road {
  z-index: 1;
  position: absolute;
  transition: 1.75s all ease-in-out;
  bottom: -30vh;
  height: 40vh;
  border-radius: 20% 20% 10% 10% / 10% 10% 10% 10%;
  width:100%;
  background-color: #3f0800;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' viewBox='0 0 88 88'%3E%3Cg fill='%23ff3f3f' fill-opacity='0.14'%3E%3Cpath fill-rule='evenodd' d='M29.42 29.41c.36-.36.58-.85.58-1.4V0h-4v26H0v4h28c.55 0 1.05-.22 1.41-.58h.01zm0 29.18c.36.36.58.86.58 1.4V88h-4V62H0v-4h28c.56 0 1.05.22 1.41.58zm29.16 0c-.36.36-.58.85-.58 1.4V88h4V62h26v-4H60c-.55 0-1.05.22-1.41.58h-.01zM62 26V0h-4v28c0 .55.22 1.05.58 1.41.37.37.86.59 1.41.59H88v-4H62zM18 36c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm16-26a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 58a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 78a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zM34 4a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm-8 82a2 2 0 1 1 4 0v2h-4v-2zm0-68a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V18zM66 4a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm0 72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm-48 0a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm0-72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm24-4h4v2a2 2 0 1 1-4 0V0zm0 60a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V60zm14-24c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm-28-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 26a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM36 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-8-8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 68a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-34a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-12a2 2 0 1 0 0 4 6 6 0 1 1 0 12 2 2 0 1 0 0 4 10 10 0 1 0 0-20zm-64 0a2 2 0 1 1 0 4 6 6 0 1 0 0 12 2 2 0 1 1 0 4 10 10 0 1 1 0-20zm56-12a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-48 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm24 32a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-4a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm36-36a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM10 44c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm56 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm8 24c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zM3 68c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm0-48c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm71 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm6 66a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM8 86a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-68A6 6 0 1 1 8 2a6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm36 36a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'/%3E%3C/g%3E%3C/svg%3E");}

#ground {
  z-index: 1;
  position: absolute;
  transition: 1.75s all ease-in-out;
  bottom: -30vh;
  height:20vh;
  width:100%;
  background-color: #222222;
  border-radius: 32% 51% 0% 0% / 14% 16% 0% 0% ;
}

#grass {
  z-index: 1;
  position: absolute;
  transition: 1.75s all ease-in-out;
  bottom: -60vh;
  height: 50vh;
  width:100%;
  background-color: #00841a;
  border-radius: 27% 73% 0% 0% / 33% 30% 70% 67%;
}

#us1 {
  display: none;
  height: 30vh;
  position: absolute;
  left: 55%;
  transition: 1.75s all ease-in-out;
  top: -50vh;
  transform: rotate(0deg) translateX(450px) rotate(0deg);
}

#agras {
  height: 24vh;
  position: absolute;
  left: 54%;
  transition: 1.75s all ease-in-out;
  top: -50vh;
  transform: rotate(0deg) translateX(450px) rotate(0deg);
}

#m8fd {
  display: none;
  height: 30vh;
  position: absolute;
  left: 54%;
  transition: 1.75s all ease-in-out;
  top: -50vh;
  transform: rotate(0deg) translateX(450px) rotate(0deg);
}

#passive-box {
  height: 20vh;
  position: absolute;
  transition: 1.75s all ease-in-out;
  bottom: -35vh;
  left: 22%;
}

#building {
  position:absolute;
  height: 75vh;
  transition: 1.75s all ease-in-out;
  bottom: -75vh;
  left: 45%;
}

#box2 {
  display: none;
  position: absolute;
  height: 20vh;
  top: 30vh;
  left: 115%;
  transition: 1.75s all ease-in-out;
}

#box1 {
  display: none;
  height: 20vh;
  position: absolute;
  left: 61%;
  transition: 1.75s all ease-in-out;
  top: -45vh;
  transform: rotate(0deg) translate(544px, 26%) rotate(0deg)
}

#beans1 {
  height: 40vh;
  position: absolute;
  left: 57%;
  transition: 1.75s all ease-in-out;
  top: -43vh;
  transform: rotate(0deg) translate(700px, 26%) rotate(0deg)
}

#beans2 {
  height: 40vh;
  position: absolute;
  left: 115%;
  transition: 1.75s all ease-in-out;
  top: 35vh;
  transform: translateX(20%);
}

#spray1 {
  display: none;
  height: 40vh;
  position: absolute;
  left: 55%;
  transition: 1.75s all ease-in-out;
  top: -50vh;
  transform: rotate(0deg) translate(544px, 26%) rotate(0deg)
}

#spray2 {
  height: 40vh;
  position: absolute;
  left: 115%;
  transition: 1.75s all ease-in-out;
  top: 35vh;
  transform: translateX(89%);
}

#airlyft3 {
  transform: translateX(-37%);
  top: 9vh;
}

#airlyft1, #airlyft2, #airlyft3 {
  height: 30vh;
  left: 115%;
  transition: 1.75s all ease-in-out;
  top: 13vh;
}

#fire {
  z-index: 2;
  height: 40vh;
  position: absolute;
  left: 66%;
  transition: 1.75s all ease-in-out;
  bottom: -70vh;
  transform: translate(-50%, -25%);
}

.scene {
  width: 100%;
  height: 100vh;
  transition: 1.75s all ease-in-out;
  position: absolute;
}

.drone {
  position: absolute;
  z-index: 4;
}

.condiment {
  position: absolute;
  z-index: 3;
}

.person {
  position: absolute;
  height: 45vh;
  z-index: 2;
}